    #div1{
            height:500px;
            width:450px;
            background-color:rgb(243, 167, 167);
           
            }
        #div2{
            height:500px;
            width:450px;
            background-color:rgb(183, 247, 183);
            
            }
         #div3{
            height:500px;
            width:450px;
            background-color:rgb(241, 241, 125);
           
           
            }
        #div4{
            height:500px;
            width:450px;
            background-color:rgb(149, 149, 224);
            
            }
            .container{
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  margin-top: 190px;
            }
            label{
                font-size: 60px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
            }
    
            .div1:hover{
                width: 30px;
                height: 30px;
            }
            a:link {
                text-decoration: none;
                color: black;
              }
              
              a:visited {
                text-decoration: none;
                color: black;
              }
              
              a:hover {
                text-decoration: underline;
              }
              
              a:active {
                text-decoration: underline;
                color: black;
              }