    #div1{
            height:350px;
            width:350px;
            background-color:rgb(243, 167, 167);
           border-radius: 50%;
           border: salmon;
           
            }
        #div2{
          height:350px;
          width:350px;
            background-color:rgb(183, 247, 183);
            border-radius: 50%;
            border: salmon;
            
            }
         #div3{
          height:350px;
          width:350px;
            background-color:rgb(241, 241, 125);
            border-radius: 50%;
            border: salmon;
           
            }
        #div4{
          height:350px;
          width:350px;
            background-color:rgb(149, 149, 224);
            border-radius: 50%;
            border: salmon;
            }
            .container{
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  margin-top: 160px;
                  
                  
            }
            label{
                font-size: 60px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
            }
    
            .div1:hover{
                width: 30px;
                height: 30px;
            }
            a:link {
                text-decoration: none;
                color: black;
              }
              
              a:visited {
                text-decoration: none;
                color: black;
              }
              
             
              
              a:active {
                text-decoration: underline;
                color: black;
              }
              .text{
                display: flex;
                justify-content: center;
                position: center;
                padding-top: 40%;
                padding-right: 5px;
                font-size: 45px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


              }
              .intro{
               margin-bottom: 50px;
               height: 50%;
              }
               h1{
                font-size: 50px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              }
              p{
                font-size: 35px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              }
              #div2:hover {
                background-color: rgb(83, 148, 246);
              }
              #div3:hover {
                background-color: rgb(83, 148, 246);
              }
              #div4:hover {
                background-color: rgb(83, 148, 246);
              }
              #div1:hover {
                background-color: rgb(83, 148, 246);
                
              }
            
            
            